/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
    
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.container {
    background-color: linear-gradient(to right, rgb(17, 100, 17), rgb(62, 104, 229));
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
